{% extends "squelette.twig" %}
{% block content %}
<div class="container">
    <h1>Inscription</h1>
    <form action="inscription" method="POST">
        <label for="name">Adresse Mail :</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Mot de passe :</label>
        <textarea id="password" name="password" required></textarea>


        <button type="submit">S'inscrire</button>
    </form>
</div>
    </form>
{% endblock %}
