{% extends "squelette.twig" %}
{%  block content %}
<div class="container">
    <h1>Affichage des données</h1>
    <div class="data">
        <p><span>Nom de la box:</span> {{ name }}</p>
        <p><span>Description:</span> {{ description }}</p>
    </div>
</div>
{% endblock %}
