{% extends "squelette.twig" %}

{% block content  %}
<div class="container">
    <h1>Liste des Catégories</h1>
    <ul>
        {% for c in cate_list %}
            <li><a href="{{ url_for('CategorieById' , { 'id' : c.id}) }}">{{ c.libelle }}</a></li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('category.create') }}" class="btn-create-category">Créer une nouvelle catégorie</a>
</div>
{% endblock %}


