{% extends "squelette.twig" %}
{% block content %}
    <div class="container">
        <h1>Créer une coffret</h1>
        <form action="{{ url_for('BoxPost') }}" method="POST">
            <label for="name">Nom du coffret:</label>
            <input type="text" id="name" name="name" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" required></textarea>

            <h2>Prestations ajoutées au coffret</h2>
            {% if box is empty %}
                <p>Aucune prestation ajoutée.</p>
            {% else %}
                <ul>
                    {% for item in box %}
                        <li>
                            <label>{{ item.prestation.libelle }}</label>
                            <span for="quantity">Quantité :</span>
                            <input type="number" name="quantity" id="quantity" min="1" value={{ item.quantity }} required>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}

            <label for="kdo">Cadeau:</label>
            <input type="checkbox" id="kdo" name="kdo" onchange="toggleMessageField()">

            <div id="message-container" style="display: none;">
                <label for="message">Message avec le cadeau:</label>
                <input type="text" id="message" name="message">
            </div>

            <button type="submit">Créer la box</button>
        </form>
    </div>

    <script>
        function toggleMessageField() {
            var checkbox = document.getElementById('kdo');
            var messageContainer = document.getElementById('message-container');

            if (checkbox.checked) {
                messageContainer.style.display = 'block';
            } else {
                messageContainer.style.display = 'none';
            }
        }
    </script>
{% endblock %}
